
[color]
    ui = auto

[push]
    default = matching

[core]
    editor = nvim
    excludesfile = ~/.gitignore

[alias]
    prb = remote update origin --prune
    last = log -1 HEAD
    lg = log --pretty=format:'%Cred%h%Creset - %s %Cgreen(%ar)%Creset by %Cblue<%an>%Creset' --no-merges
    s = status
    d = diff
    co = checkout
    br = branch
    pr = pull --rebase

[commit]
    gpgsign = true

[include]
   path = ~/.gitconfig.id ; get indetifying information from a different file.
