
[color]
    ui = auto

[push]
    default = matching

[core]
    editor = nvim
    excludesfile = ~/.gitignore

[alias]
    prb = remote update origin --prune
    last = log -1 HEAD

[commit]
    gpgsign = true

[include]
   path = ~/.gitconfig.id ; get indetifying information from a different file.
