OS=$(uname)
PROJECTS_PATH="$HOME/Projects"

# Docker
alias docker-clean='docker rm $(docker ps -a -q) && docker rmi $(docker images -q)'

# Directory Iteration
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias cdp="cd $PROJECTS_PATH && cd"

# Listing
if [[ $OS == "Darwin" ]]; then
    alias ls="ls -G"
    alias ll="ls -G -al"
else
    alias ls="ls --color=auto"
    alias ll="ls --color -al"
fi

# Security
alias sha1='openssl sha1'
alias ask='ssh-add --apple-use-keychain ~/.ssh/id_ed25519'

# Networking
alias ping='ping -c 5'

# System
alias df='df -H'
alias du='du -ch'
alias top='htop'

# Tmux
alias tkill='tmux kill-server'

# nvim
alias vim='nvim'

# kubectl
alias k='kubectl'
alias kg='kubectl get'
alias kd='kubectl describe'
alias krm='kubectl delete'
alias kctx='kubectl config use-context'
alias kctxs='kubectl config get-contexts'
alias kc='kubectl config'
alias kns='kubectl config set-context --current --namespace'

# bazel
alias gaz='bzl run //:gazelle'

# git and Github
alias gho='gh pr view --web'
alias gcl='git fetch -p && for branch in $(git branch -vv | grep ": gone]" | awk "{print $1}""); do git branch -D $branch; done'
