[color]
    ui = auto

[alias]
    prb = remote update origin --prune
    last = log -1 HEAD
    lg = log --pretty=format:'%Cred%h%Creset - %s %Cgreen(%ar)%Creset by %Cblue<%an>%Creset' --no-merges
    s = status
    d = diff
    co = checkout
    br = branch
    pr = pull --rebase

[push]
    default = matching

[core]
    editor = nvim
    excludesfile = ~/.gitignore
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true

[gpg "ssh"]
	allowedSignersFile = /Users/hugo.martins/.ssh/allowed_signers

[url "git@github.com:"]
    insteadOf = https://github.com/

[include]
    path = "~/.gitconfig.local"

[includeIf "gitdir:~/pp/"]
    path = "~/pp/.gitconfig"
