"*":
  "atom-beautify":
    general:
      _analyticsUserId: "016f8b6e-eda5-4d72-acc8-57bcde20fdff"
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "exception-reporting"
      "linter-perl"
      "perltidy"
    ]
    projectHome: "/home/caramelomartins/Projects"
    themes: [
      "nucleus-dark-ui"
      "atom-material-syntax"
    ]
  editor:
    invisibles: {}
    showIndentGuide: true
    tabLength: 4
  linter: {}
  "linter-htmlhint": {}
  "linter-jshint": {}
  "linter-shellcheck":
    enableNotice: true
  "markdown-preview":
    useGitHubStyle: true
  "one-dark-ui": {}
  "travis-ci-status": {}
  welcome:
    showOnStartup: false
